
.searchBar {
  width: 200px;
  height: 50px;
  background-color: #ededed;
  border-radius: 13px;
  float: right;
  margin-right: 150px;
}

#searchIcon {
  width: 25px;
  height: 25px;
  float: left;
  margin-left: 15px;
  margin-top: 13px;
  background-size: 25px 25px;
}


#searchText {
  text-align: center;
  margin-right: 13px;
  font-family: "Helvetica", Arial, sans-serif;
  opacity: 0.3;
}

#searchText .focused{
  text-align: center;
  margin-right: 13px;
  font-family: "Helvetica", Arial, sans-serif;
  opacity: 1
}
