h2 {
  font-family: sans-serif;
  font-size: 28px;
  font-weight: bold;
}

html {
  font-family: sans-serif;
  font-size: 18px;
  font-weight:normal;
}

#projects{
  display: flex;
  flex-wrap: wrap;
}

.projectCard{
  position: relative;
  margin: 50px;
  height: 350px;
  width: 300px;
  background-color: #EDEDED;
}

.title{
  padding: 50px;
}

.bodyText{
  margin-top: -60px;
  padding-left: 50px;
  padding-right: 50px;
}

.bookmark{
  position: absolute;
  right: 50px;
  bottom: 50px;
}

.usersInAProject{
  position: absolute;
  left: 50px;
  bottom: 50px;
}

#userIcon{
float: left;
}

#numberOfUsers{
margin-left: 5px;
float: left;
}
